In [2]:
import numpy as np
import pandas as pd

In [3]:
#berlin_listings = pd.read_csv("./data/berlin/listings.csv.gz")
#berlin_calendar = pd.read_csv("./data/berlin/calendar.csv.gz")
#berlin_reviews = pd.read_csv("./data/berlin/reviews.csv.gz")

### Read AirBnB data of Munich, Germany
##### Time period: 15.03.2019 + 1 year in the future (calendar)

In [15]:
munich_listings = pd.read_csv("./data/munich/listings.csv.gz")

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (43,94) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [5]:
munich_calendar = pd.read_csv("./data/munich/calendar.csv.gz")

In [6]:
munich_reviews = pd.read_csv("./data/munich/reviews.csv.gz")

In [7]:
munich_neighborhoods = pd.read_csv("./data/munich/neighbourhoods.csv")

In [8]:
ds = munich_calendar[munich_calendar["listing_id"]==8296281]
ds = ds["price"]
for p in ds:
    print(p)

$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00
$99.00

In [9]:
test = munich_calendar[munich_calendar["listing_id"]==198946]
test = test["price"]

In [10]:

test = munich_calendar[munich_calendar["available"]=="t"]
test = test[test["listing_id"]==97945]
test

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
3118160,97945,2019-03-19,t,$80.00,$80.00,2.0,60.0
3118161,97945,2019-03-20,t,$80.00,$80.00,2.0,60.0
3118162,97945,2019-03-21,t,$80.00,$80.00,2.0,60.0
3118165,97945,2019-03-24,t,$80.00,$80.00,2.0,60.0
3118166,97945,2019-03-25,t,$80.00,$80.00,2.0,60.0
...,...,...,...,...,...,...,...
3118516,97945,2020-03-09,t,$80.00,$80.00,2.0,60.0
3118517,97945,2020-03-10,t,$80.00,$80.00,2.0,60.0
3118518,97945,2020-03-11,t,$80.00,$80.00,2.0,60.0
3118519,97945,2020-03-12,t,$80.00,$80.00,2.0,60.0
3118520,97945,2020-03-13,t,$80.00,$80.00,2.0,60.0

In [11]:
munich_listings[munich_listings["id"]==97945]

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
1,97945,https://www.airbnb.com/rooms/97945,20190315153717,2019-03-15,Deluxw-Apartm. with roof terrace,NaN,"We offer a modern, quiet apartment with a sunn...","We offer a modern, quiet apartment with a sunn...",none,We are living in a outskirt of Munich its call...,...,f,f,flexible,f,f,1,1,0,0,1.27

In [12]:
review_cols = [col for col in munich_listings.columns if 'review' in col]
review_cols

['number_of_reviews',
 'number_of_reviews_ltm',
 'first_review',
 'last_review',
 'review_scores_rating',
 'review_scores_accuracy',
 'review_scores_cleanliness',
 'review_scores_checkin',
 'review_scores_communication',
 'review_scores_location',
 'review_scores_value',
 'reviews_per_month']

In [13]:
munich_listings[review_cols].dropna()

,number_of_reviews,number_of_reviews_ltm,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,reviews_per_month
0,25,0,2014-05-09,2017-07-22,98.0,10.0,10.0,10.0,10.0,10.0,9.0,0.42
1,115,20,2011-10-03,2019-01-15,97.0,10.0,10.0,10.0,10.0,10.0,9.0,1.27
2,47,17,2011-07-08,2018-10-10,95.0,9.0,10.0,10.0,10.0,9.0,9.0,0.50
3,75,21,2011-06-04,2019-03-04,97.0,10.0,10.0,10.0,10.0,10.0,10.0,0.79
4,27,5,2011-08-15,2018-11-14,93.0,9.0,9.0,9.0,9.0,9.0,9.0,0.29
...,...,...,...,...,...,...,...,...,...,...,...,...
9730,3,3,2019-03-10,2019-03-14,100.0,10.0,10.0,10.0,10.0,10.0,10.0,3.00
9731,5,5,2019-03-09,2019-03-13,96.0,10.0,10.0,10.0,10.0,10.0,10.0,5.00
9741,1,1,2019-03-11,2019-03-11,100.0,10.0,10.0,10.0,10.0,6.0,8.0,1.00
9755,2,2,2019-03-06,2019-03-11,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.00
9759,2,2,2019-03-14,2019-03-15,100.0,10.0,10.0,10.0,10.0,10.0,10.0,2.00

In [14]:
munich_calendar["date"].describe()

count        3595967
unique           365
top       2019-06-23
freq            9852
Name: date, dtype: object